body {
    font-family: Roboto, sans-serif; 
    font-size: 16px;
    color: #000000;
}

header {
    font-family: Roboto Medium, sans-serif; 
    font-size: 16px;
    color: #000000;
}  

main {
    font-family: Roboto Regular, sans-serif;
    font-size: 16px;
    color: #000000;
}  
    
.heading {
    font-family: Roboto Medium, sans-serif; 
    font-size: 55px;
    color: #000000;
}  

.section-name {
    font-family: Roboto Bold, sans-serif; 
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
} 
